{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/pico/pico.min.css" %}">
  <script type="text/javascript" src="{% static 'functions.js' %}"></script>
  <link rel="icon" href="{%static favicon.ico%}">
  <title>RFPDonkey</title>
  {% block header %}
  
  {% endblock %}
</head>
<body>
 
  <table width="50%">
    <tr >
      <td width="1%">
        <a href="/login/">
        <img src="{% static "donkey.png" %}" alt="RFPDonkey" width="90px" height="90px"></td>
        </a>
      <td width="20%"><div style="font-size:40px">RFPDonkey</div>
      <small>RFP Q/A Database</small></td>
    </tr>
    <tr>
      <td width="100%">
    <!-- TOP MENU -->  
      <small>
      <div role="menubar">
        <!--a role="button" href="javascript:Tender()">User</a-->
        <a role="button" href="javascript:Product(1,1,0)">Product</a>
        <a role="button" href="javascript:Customer(1,1,0)">Customer</a>
        <a role="button" href="javascript:Tender(1,1,0)">Tender</a>
        <a role="button" href="javascript:QA(1,1,0)">Q/A</a>
        <a role="button" href="javascript:Partner(1,1,0)">Partner</a>
        <a role="button" href="javascript:Test()">Test</a>
        <a href="javascript:Test()">
        </div>
      </small>
      
    <!-- END TOP MENU-->
      </td>
      <td>
        <small>
          {{auth}}
        <details role="list">
          <summary aria-haspopup="listbox">
          Settings
          </summary>
          <ul role="listbox">
            <li><a href="javascript:User(1,1,0)">Users</a></li>
            <li><a>Roles</a></li>
            <li><a>Something else here</a></li>
          </ul>
        </details>
      </small>
      </td>
    </tr>
  </table>

<main class="container">
  {% block container %}

  {% endblock %}
</main>

</body>
</html>