{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/pico/pico.min.css" %}">
  <script type="text/javascript" src="{% static 'functions.js' %}"></script>
  <title>RFPDonkey</title>
  {% block header %}
  
  {% endblock %}
</head>
<body>

<main class="container">
  {% block container %}
  <form action="" name="frm">
    {% csrf_token %} 
    <table width="50%">
      <tr >
        <td width="1%"><img src="{% static "donkey.png" %}" alt="RFPDonkey" width="90px" height="90px"></td>
        <td width="20%"><div style="font-size:40px">RFPDonkey</div>
        <small>Partner Type</small></td>
      </tr>
      <tr>
      
          <table align="center">
            <tr>
                <td>
                    <input type="hidden"  name = "id" value ="{{id}}">
                </td>
            </tr>
              <tr>
                  <td>Partner Type: <input type="text" name ="partner_name" size="20" value="{{part_name}}"></td>
              </tr>
              <tr>
                  <td >Description:  <input type="text" name="partner_description" size="20" value ="{{part_desc}}"></td>
              </tr>
              <tr>
                <td >Comment:  <input type="text" name="partner_comment" size="20" value ="{{part_comment}}"></td>
            </tr>
          </table>          
        </td>
      </tr>
      <tr>
        <td>
            <small><a role ="menuitem" href="javascript:PartnerLUAdd()">Add</a></small>
        </td>
        <td>
            <small><a role ="menuitem" href="javascript:PartnerLUUpdate()">Update</a></small>
        </td>
        <td>
            <small><a role ="menuitem" href="javascript:PartnerLUDelete()">Delete</a></small>
        </td>
        <td>
            <small><a role ="menuitem" href="javascript:PartnerLUClose()">Close</a></small>
        </td>
      </tr>
    </table>
  </form>
  {% endblock %}
</main>

</body>
</html>