{% extends "base.html" %}
{% load static %}

{% block title %}
  RFP Knowledge Base Questions and Answers
{% endblock %}
{% block container %}

<html data-theme="dark">
    <head>
        <title> test page</title>
    </head>
    <body>
        <h1> This is a test page</h1>
        <details role="list">
            <summary aria-haspopup="listbox">
            Settings
            </summary>
            <ul role="listbox">
              <li><a>Action</a></li>
              <li><a>Another action</a></li>
              <li><a>Something else here</a></li>
            </ul>
          </details>
    </body>
</html>
{% endblock %}